#local db

DB_HOST=localhost
DB_PORT=5432
DB_NAME=usashipping
DB_USER=postgres
DB_PASSWORD=password
DB_SSLMODE=disable

# Google Sheets Configuration - Multi-Vendor Support
COSTCO_SHEET_ID=youkeyhere
WALMART_SHEET_ID=youkeyhere

# Sheet tab names (case sensitive)
COSTCO_SHEET_NAME=Costco
WALMART_SHEET_NAME=Walmart
COSTCO_RECC_SHEET_NAME=Recc. Costco
WALMART_RECC_SHEET_NAME=Recc. Walmart

GOOGLE_SERVICE_ACCOUNT_PATH=./config/costco-price-service-account.json

# Price Sync Configuration
PRICE_SYNC_ENABLED=true
