.DS_Store

npm-debug.log
package-log.json
.log
*.log

node_modules
.env

# build
./dist
.evershop

# uploads
media/

# evershop folder
#/extensions/*
#themes
#/media
#/public
#/config

# IDE
#.idea/*
#.vscode

.direnv/config/local.json

# service account keys and other secrets in config/
config/*.json
!config/default.json
